body{
    background-image: linear-gradient(to right, purple, orange);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.h1{
    text-align: center
}

.event-boxes{
    box-sizing: border-box;
    height: 100px;
    width:100px;
    background-position: bottom;
}
